@page "/StorageRoom/{Id:int}"
<!--TODO:
- Schauen ob das der Sameuser ist via UserService (gibt schon eine ähnliche Umsetzung in RecipeDetail)
- In den Befüllten Positionen Dragable Images
- Jedes Bild hat unten rechts die menge ganz klein (bsp 2x)
- Jedes ShelfIngredient hat einen farbigen Rand für die Haltbarkeit (Grün: Länger als Ne Woche übrig;
 Gelb Morgen Fällig; Rot abgelaufen) 
- Rechtsklich öffnet Delete Modal?
- Modal für ShelfAdd
- Modal für ShelfIngredientAdd
- Optional: Downloadable PDF zur Inventur == Eigener Service 
  - Format foreach shelf in StorageRoom.shelves => foreach shelf ingredient in shelf.shelfIngredients 
-->
<h3>StorageRoom</h3>

@code {
    
}