@page "/StorageRoom/{Id:int}"
@using System.Security.Claims
@using RecipeNow.Data.Entities.RecipeSystem
@using RecipeNow.Services
@inject StorageRoomService StorageRoomService
@inject UserService UserService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject IJSRuntime JS
<!--TODO:
- Schauen ob das der Sameuser ist via UserService (gibt schon eine ähnliche Umsetzung in RecipeDetail) 
- In den Befüllten Positionen Dragable Images
- Jedes Bild hat unten rechts die menge ganz klein (bsp 2x)
- Jedes ShelfIngredient hat einen farbigen Rand für die Haltbarkeit (Grün: Länger als Ne Woche übrig;
 Gelb Morgen Fällig; Rot abgelaufen) 
- Rechtsklich öffnet Delete Modal?
- Modal für ShelfAdd
- Modal für ShelfIngredientAdd
- Optional: Downloadable PDF zur Inventur == Eigener Service 
  - Format foreach shelf in StorageRoom.shelves => foreach shelf ingredient in shelf.shelfIngredients 
-->
@if (_sameUser && _storageRoom != null)
{
    <h3>Vorratsraum: @_storageRoom.Name</h3>
    <div class="btn-group">
        <button class="btn btn-primary shadow-sm px-4"
                @onclick="NewShelfClicked"
                type="button">
            + Neuer Schrank
        </button>
        <button class="btn btn-outline-secondary shadow-sm"
                disabled>Inventur (PDF)</button>
    </div>

    @foreach(var shelf in _storageRoom.StorageRoomShelf)
    {
        <div class="card mt-4">
            <div class="card-header">
                <h5>@shelf.ContentDescription</h5>
            </div>
            <div class="card-body">
                @for (int x = 0; x < shelf.Width; x++)
                {
                    @for (int y = 0; y < shelf.Height; y++)
                    {
                        var ShelfIngredient = shelf.ShelfIngredients
                            .FirstOrDefault(si => si.Row == y && si.Column == y);
                    }
                }
            </div>
        </div>
    }
}
else
{
    <h3>Vorratsraum konnte nicht geladen werden weil entweder:
        <ul>
            <li> du nicht angemeldet bist. </li>
            <li> du keinen Zugriff auf diesen Vorratsraum hast</li>
            <li> die Daten nicht erfolgreich geladen werden konnten</li>
        </ul>
    </h3>
}


@code {
    [Parameter] public int Id { get; set; }
    private bool _sameUser = false;
    private StorageRoom _storageRoom = null;
    
    protected override async Task OnInitializedAsync()
    {
        var room = await StorageRoomService.GetStorageRoomByIdAsync(Id);
        if(room==null) return;
        _storageRoom = room;
        var currentUser = await UserService.GetUserAsync();
        var currentUserId = currentUser.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        _sameUser = !string.IsNullOrWhiteSpace(currentUserId)
                      && string.Equals(room.UserId, currentUserId, StringComparison.Ordinal);
        if (room == null) NavigationManager.NavigateTo("/storagerooms", forceLoad: true);
        
    }
    
}