.recipes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}

.recipe-overview {
    width: 18rem;
    height: 21.5rem;
}

.recipe-overview .btn {
    margin-top: auto;
}

.recipe-img {
    height: 12rem;
    object-fit: cover;
    width: 100%;
    display: block;
}