@using RecipeNow.Data.Entities.RecipeSystem
@using RecipeNow.Services
@inject IRecipeService RecipeService
@inject UserService UserService
@page "/recipes"
<h3>AllRecipes</h3>
@foreach (var recipePreview in _recipePreviews)
{
    <div class="card mb-3">
        <img src="@recipePreview.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@recipePreview.name</h5>
            <p class="card-text">Created by: @recipePreview.user_name</p>
        </div>
    </div>
}


@code {

    public sealed class RecipePreview
    {
        public required string image { get; init; } = "";
        public required string name { get; init; } = "";
        public required string user_name { get; init; } = "0";


    }
    private List<RecipePreview> _recipePreviews = new List<RecipePreview>();
        
        
    protected override async Task OnInitializedAsync()
    {
        List<Recipe> recipes = await RecipeService.GetAllAsync();
        foreach (var recipe in recipes)
        {
            var user = await UserService.GetUserByIdAsync(recipe.UserId);

            var preview = new RecipePreview
            {
                image = recipe.ImagePath,
                name = recipe.Name,
                user_name = user?.UserName 
                            ?? "es konnte kein Nutzername gefunden werden"
            };

            _recipePreviews.Add(preview);
        }


    }

    
    
}