@page "/recipes/{Id:int}"
@using RecipeNow.Services
@inject IRecipeService RecipeService
@inject UserService UserService

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>@_recipeDetail.name</h1>
            <img src="@_recipeDetail.image" alt="Recipe Image" />
            <p>@_recipeDetail.description</p>
            @if (_isSameUser)
            {
                <a href="/recipes/edit/@_recipeDetail.id" class="btn btn-primary">Edit</a>
            }
        </div>
    </div>
</div>




@code {
    [Parameter] public int Id { get; set; }
    private bool _isSameUser;
    private RecipeDetail _recipeDetail;
    public sealed class RecipeDetail
    {
        public required string image { get; init; } = "";
        public required string name { get; init; } = "";
        public required string description { get; init; } = "";
        public required string user_name { get; init; } = "0";
        public required int id { get; set; } = 0;
    }

    protected override async Task OnInitializedAsync()
    {
        var temp = await RecipeService.GetByIdAsync(Id);
        _recipeDetail = new RecipeDetail()
        {
            description = temp?.Description,
            id = temp.Id,
            image = temp.ImagePath,
            name = temp.Name,
            user_name = temp.UserId
        };
        var currentUser = await UserService.GetUserAsync();
        var currentUserId = currentUser.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        _isSameUser = !string.IsNullOrWhiteSpace(currentUserId)
                      && string.Equals(temp.UserId, currentUserId, StringComparison.Ordinal);
    }
}