@page "/Impressum"

<h1 class="mb-4">Impressum</h1>

<!-- Adressinformationen -->
<div class="row mb-4">
    <!-- Allgemeine Anschrift -->
    <div class="col-md-4">
        <div class="card" style="width: 26rem; height: 42rem;">
            <div class="card-body">
                <h3 class="card-title">Allgemeine Informationen</h3>

                <h4>Anschrift</h4>
                <p>
                    Musterfirma GmbH<br />
                    Musterstraße 12<br />
                    12345 Musterstadt<br />
                    Deutschland
                </p>

                <h4>Vertretungsberechtigung</h4>
                <p>
                    Geschäftsführer: Max Mustermann
                </p>

                <h4>Kontakt</h4>
                <p>
                    Telefon: +49 123 456789<br />
                    E-Mail: <a href="mailto:info@firma.de">info@firma.de</a>
                </p>

                <h4>Steuer- und Handelsinformationen</h4>
                <p>
                    Handelsregister: HRB 123456<br />
                    Registergericht: Amtsgericht Musterstadt<br />
                    Umsatzsteuer-Identifikationsnummer gemäß §27a UStG:<br />
                    DE123456789
                </p>

                <h4>Inhaltlich verantwortlich</h4>
                <p>
                    Max Mustermann<br />
                    (Anschrift wie oben)
                </p>
            </div>
        </div>
    </div>

<!-- Geschäftsführung -->
    <!-- CFO -->
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 26rem; height: 42rem;">
            <img src="static/images/CFO.png"
                 class="card-img-top"
                 alt="CFO Platzhalterbild">

            <div class="card-body">
                <h3 class="card-title">Marie Musterfrau</h3>
                <p class="card-text">
                    Chief Financial Officer (CFO)
                </p>

                <h4>Kontaktinformationen</h4>
                <ul>
                    <li>Email: marie.musterfrau@firma.de</li>
                    <li>Telefon: +49 123 456789</li>
                    <li>Fax: +49 123 456788</li>
                </ul>

                <a href="mailto:marie.musterfrau@firma.de"
                   class="btn btn-primary">
                    Kontakt aufnehmen
                </a>
            </div>
        </div>
    </div>

    <!-- CEO -->
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 26rem; height: 42rem;">
            <img src="static/images/CEO.png"
                 class="card-img-top"
                 alt="CEO Platzhalterbild">

            <div class="card-body">
                <h3 class="card-title">Max Mustermann</h3>
                <p class="card-text">
                    Chief Executive Officer (CEO)
                </p>

                <h4>Kontaktinformationen</h4>
                <ul>
                    <li>Email: max.mustermann@firma.de</li>
                    <li>Telefon: +49 987 654321</li>
                    <li>Fax: +49 987 654320</li>
                </ul>

                <a href="mailto:max.mustermann@firma.de"
                   class="btn btn-primary">
                    Kontakt aufnehmen
                </a>
            </div>
        </div>
    </div>
</div>
