@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<h1>Hello, world!</h1>

@if (userName is not null)
{
    <p>Angemeldet als @userName</p>
}
else
{
    <p>Nicht angemeldet</p>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask is null)
            return;

        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            userName = user.Identity.Name;
        }
    }
}